[submodule "Задание 1 (cmake)"]
	path = Задание 1 (cmake)
	url = https://github.com/bakafox/teorpar-task1.git
	branch = cmake
[submodule "Задание 1 (make)"]
	path = Задание 1 (make)
	url = https://github.com/bakafox/teorpar-task1.git
	branch = make
